<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/admin/styles.css" />
  <link rel="stylesheet" href="/admin/style.css">
  <style>
    .select-dropdown,
    .select-dropdown * {
      margin: 0;
      padding: 0;
      position: relative;
      box-sizing: border-box;
    }

    .select-dropdown {
      position: relative;
      background-color: #E6E6E6;
      border-radius: 4px;
    }

    .select-dropdown select {
      font-size: 1rem;
      font-weight: normal;
      max-width: 100%;
      padding: 8px 24px 8px 10px;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .select-dropdown select:active,
    .select-dropdown select:focus {
      outline: none;
      box-shadow: none;
    }

    /* .select-dropdown:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 8px;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-top: 5px solid #aaa;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    } */
  </style>
  <title>MERCATO | Admin</title>
</head>

<body id="body">
  <div class="container">
    <nav class="navbar">
      <div class="nav_icon" onclick="toggleSidebar()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="navbar__left">
        <a class="active_link" href="/admin/">Dashboard</a>
      </div>
      <div class="navbar__right">
        <a href="#">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </a>
        <a href="#">
          <img width="30" src="/assets/avatar.svg" alt="" />
          <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
        </a>
      </div>
    </nav>

    <main>
      <div class="main__container">
        <!-- MAIN TITLE STARTS HERE -->

        <div class="main__title">
          <img src="/assets/hello.svg" alt="" />
          <div class="main__greeting">
            <h1>Hello admin_name</h1> <!--Put the name of the admin that connected foolish-->
            <p>Welcome. Ajouter un article</p>
          </div>
        </div>

        <!-- MAIN TITLE ENDS HERE -->

        <!-- MAIN ADD ITEM STARTS HERE -->
        <div class="main__cards">
          <div class="main__container">
            <div class="container">
              <form action="/admin/addproduct" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="image">Image:</label>
                  <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="cost-price">cost-price:</label>
                  <input type="number" id="cost-price" name="costprice" step="0.01" required>
                </div>
                <div class="form-group">
                  <label for="selling-price">Selling price</label>
                  <input type="text" id="selling-price" name="sellingprice" step="0.01" required>
                </div>
                <div class="form-group">
                  <label for="stock">Type:</label>
                  <!-- <input type="text" id="stock" name="type" required> -->
                  <div class="select-dropdown">
                    <select name="type" required>
                      <option value="homme">Homme</option>
                      <option value="femme">Femme</option>
                      <option value="accessoires">Accessoires</option>
                      <option value="pochette">Pochette</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="stock">Category:</label>
                  <div class="select-dropdown">
                    <select name="Category" required>
                      <option value="hauts">Hauts</option>
                      <option value="pantalons">Pantalons</option>
                      <option value="chaussures">Chaussures</option>
                      <option value="sacs">Sacs</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="selling-price">Size(s)</label>
                  <input type="text" id="selling-price" name="size" placeholder="seperate by comma(,)" required>
                </div>
                <div class="form-group">
                  <label for="stock">Stock:</label>
                  <input type="number" id="stock" name="stock" required>
                </div>

                <button type="submit">Add Product</button>
              </form>
            </div>
          </div>
          <!-- MAIN ADD ITEMS ENDS HERE -->

    </main>

    <div id="sidebar">
      <div class="sidebar__title">
        <div class="sidebar__img">
          <img src="/assets/logo-no-background-white.png" alt="logo" />
          <h1>Mercato</h1>
        </div>
        <i onclick="closeSidebar()" class="fa fa-times" id="sidebarIcon" aria-hidden="true"></i>
      </div>

      <div class="sidebar__menu">
        <div class="sidebar__link ">
          <i class="fa fa-home"></i>
          <a href="/admin/dashboard">Dashboard</a>
        </div>
        <h2>MNG</h2>
        <div class="sidebar__link active_menu_link">
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          <a href="/admin/add_product">Ajouter un article</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-archive"></i>
          <a href="/admin/products">Warehouse</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-handshake-o"></i>
          <a href="/admin/clients">Clients</a>
        </div>
        <h2>Promo</h2>
        <div class="sidebar__link">
          <i class="ri-discount-percent-fill"></i>
          <a href="#">Coupons</a>
        </div>
        <div class="sidebar__logout">
          <i class="fa fa-power-off"></i>
          <a href="/admin/logout">Log out</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/script.js"></script>
</body>

</html>