<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
  content="Découvrez une sélection tendance de chaussures, vêtements, sacs, accessoires et pochettes pour hommes et femmes chez MercatoCMR. Trouvez les dernières tendances de la mode avec une qualité exceptionnelle. Livraison rapide et retour gratuit.">
  <meta name="keywords"
      content="MercatoCMR, boutique en ligne, chaussures, vêtements, sacs, accessoires, pochettes, mode, hommes, femmes, tendances, qualité, livraison rapide">
  <link rel="stylesheet" href="/cart.css">
  <title>Mercato | Panier</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/shop.css">
</head>

<body>

  <script>

    let cartItems = [];

    let cartArray = sessionStorage.getItem('shopping-cart') ? JSON.parse(sessionStorage.getItem('shopping-cart')) : [];


    const items = [];

    for (const prdt of cartArray) {
      const { id, size } = prdt;

      if (cartItems.some((itm) => itm.id == id && itm.size == size)) {
        items[(items.findIndex(({ prdt }) => prdt.id == id && prdt.size == size))].count++;
        // continue;  
      } else {
        items.push({
          prdt: prdt,
          count: 1
        });
        cartItems.push(prdt)
      }

    }

  </script>

  <section id="Top-bar">
    <div id="top-bar">
      <div class="menu">
        <a href="/"><i class="ri-menu-2-line"></i></a>
      </div>
      <img src="/assets/logo-no-background.png" alt="Logo de Mercato" class="top-bar-logo">
      <div class="search">
        <i class="ri-search-2-line"></i>
      </div>
    </div>
  </section>
  <main>
    <div class="container">
      <div class="cart-items">

      </div>

      <div class="total-cost">
        Total : 0 Frs <!-- Calculate total dynamically using JavaScript -->
      </div>

      <form action="/caisse" method="post">
        <input type="text" name="products" class="prdt-input" hidden />
        <button class="checkout-btn">Passer à la caisse</button>
      </form>
      <!--This button leads to flutterwave checkout page and if paiement is confirmed, the user is redirected to paiement complete page-->
    </div>
  </main>

  <script>

    const Total = document.querySelector(".total-cost");
    const cartArea = document.querySelector(".cart-items");


    function onChange(e) {
      const nVal = e.srcElement.value;
      const idSize = e.srcElement.id;
      const id = idSize.split(',')[0]
      const size = idSize.split(',')[1]


      // item = items.find(({prdt})=>{
      //   return (id == prdt.id && size == prdt.size)
      // })


      items.forEach(({
        prdt,
        count
      }, index) => {

        const sellingPrice = prdt.sellingPrice;
        if (id == prdt.id && size == prdt.size) {

          if (nVal > count) {
            console.log('incrementing')
            // If javascript shopping cart session is not empty
            if (!cartArray) {
              cartArray = JSON.parse(sessionStorage.getItem('shopping-cart'));
            }
            //add item id to array
            cartArray.push(prdt);

            const cartJSON = JSON.stringify(cartArray);
            sessionStorage.setItem('shopping-cart', cartJSON);
          } else if (nVal < count) {
            console.log('decrementing')

            // If javascript shopping cart session is not empty
            if (!cartArray) {
              cartArray = JSON.parse(sessionStorage.getItem('shopping-cart'));
            }


            //remove element once if present
            cartArray.splice(cartArray.findIndex(itm => itm.id == id && itm.size == size), 1)

            const cartJSON = JSON.stringify(cartArray);
            sessionStorage.setItem('shopping-cart', cartJSON);


          } else {
            console.log('nothing')
          }


          items[index].count = nVal;

        }



      })

      updateTotal()
    }

    function updateTotal() {

      let counts = 0;

      cartArea.innerHTML = '';
      for (const item of items) {
        const { prdt, count } = item;
        
        const {
          name,
          sellingPrice,
          id,
          size,
          stock,
          imagePath,
        } = prdt;

        counts += count * sellingPrice;

        cartArea.innerHTML +=
          `<div class="cart-item">
          <div class="item-image">
            <img src="${imagePath}" alt="Item Image">
          </div>
          <div class="item-details">
            <h2>${name}</h2>
            <p>Taille Choisi: ${size}</p>
            <p>Prix: ${sellingPrice} Frs</p>
          </div>
          <div class="item-actions">
            <input type="number" class="item-quantity" value="${count}" min="0" onchange="onChange(event)" id="${id},${size}">
            <button class="remove-btn" onclick="removeItem('${id},${size}')"><i class="ri-close-fill"></i></button>
          </div>`;
      }


      Total.textContent = `Total: ${counts}FCFA`;

      const cartItemsStored = sessionStorage.getItem('shopping-cart');

      if (cartItemsStored) {
        document.querySelector('.prdt-input').value = JSON.stringify(items);
      }

    }

    function removeItem(idSize) {
      const id = idSize.split(',')[0]
      const size = idSize.split(',')[1]


      if (!cartArray) {
        cartArray = JSON.parse(sessionStorage.getItem('shopping-cart'));
      }

      cartArray = cartArray.filter(elem => elem.id != id || elem.size != size)
      cartItems = cartItems.filter(elem => elem.id != id || elem.size != size)

      const cartJSON = JSON.stringify(cartArray);
      sessionStorage.setItem('shopping-cart', cartJSON);

      const index = items.findIndex(({ prdt }) => prdt.id == id && prdt.size == size)
      
      items.splice(index, 1);

      updateTotal()
    }

    updateTotal()


  </script>

  <footer>

    <%- include ("footer.ejs") %>
  </footer>

</body>

</html>