<!-- views/footer.ejs -->
<div id="mobile-nav">
    <div class="navigation">
        <ul>
            <li class="list <%= currentPage === '/' ? 'active' : '' %>">
                <a href="/">
                    <span class="icon"><i class="ri-home-2-line"></i></span>
                </a>
            </li>

            <li class="list <%= currentPage === '/cart' ? 'active' : '' %>">
                <a href="/cart">
                    <span class="icon"><i class="ri-shopping-cart-line"></i></span>
                </a>
            </li>
            <li class="list <%= currentPage === '/Login' ? 'active' : '' %>">
                <a href="/user-page">
                    <span class="icon"><i class="ri-user-line"></i></span>
                    <!--If user is logged in, go to user page else ask him to sign in or signup-->
                </a>
            </li>
            <!-- <div class="indicator">
                    
            </div> -->
        </ul>
    </div>
</div>
<!-- mobile nav end -->
