<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
  content="Découvrez une sélection tendance de chaussures, vêtements, sacs, accessoires et pochettes pour hommes et femmes chez MercatoCMR. Trouvez les dernières tendances de la mode avec une qualité exceptionnelle. Livraison rapide et retour gratuit.">
  <meta name="keywords"
      content="MercatoCMR, boutique en ligne, chaussures, vêtements, sacs, accessoires, pochettes, mode, hommes, femmes, tendances, qualité, livraison rapide">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Simbtech">
  <meta name="language" content="Français">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="7 days">
  <meta name="geo.region" content="FR">
  <meta name="geo.placename" content="Cameroun">
  <meta name="geo.position" content="latitude;longitude">
  <meta name="ICBM" content="latitude, longitude">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="/paiement.css">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
  <title>Mercato | Paiement</title>
</head>
<body>
    <header>
        <section id="Top-bar">
            <div id="top-bar">
                <div class="menu">
                    <a href="#"><i class="ri-menu-2-line"></i></a>
                </div>
                <img src="/assets/logo-no-background.png" alt="Mercato Logo" class="top-bar-logo">
                <div class="search">
                    <i class="ri-search-2-line"></i>
                </div>
            </div>
        </section>
    <!-- End of the top bar -->
    </header>
  <div class="payment-container">
    <div class="tick-container">
      <svg class="tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path class="tick-path" d="M9 16.2l-3.7-3.7-1.4 1.4 5 5L21 7.5l-1.4-1.4L9 16.2z"/>
      </svg>
    </div>
    <h1>Paiement reussi</h1>
    <p>Nous vous remercions pour votre achat!</p>
    <div class="action-links">
      <script>
        //clear cart
        sessionStorage.setItem('shopping-cart', "");
      </script>
      <!-- <a href="new-articles.html" class="action-link">Commander de nouveau</a> -->
      <a href="/" class="action-link">Retour</a>
    </div>
  </div>
</body>
</html>
