#top-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    width: 100%;
}
#top-selection a{
    color: #F8F8FF;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#top-selection button{
    border: none;
}
#top-selection h5{
    font-size: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    color: white;

}
.cat-man-one{
    background :url('assets/img/haut-homme.jpg');
    background-size: 200%;
    background-position: 45%;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 45%;
    height: 90px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(29, 37, 56, 0.2);
}
.cat-man-two{
    background :url('assets/img/pantalons.jpg');
    background-size: 200%;
    background-position: 45%;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 45%;
    height: 90px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(29, 37, 56, 0.2);
}

.cat-man-three{
    background :url('assets/img/shoe_woman.jpg');
    background-size: 200%;
    background-position: 45%;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 45%;
    height: 90px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(29, 37, 56, 0.2);
}
.cat-man-three-man{
    background :url('assets/img/shoe_man.jpg');
    background-size: 200%;
    background-position: 45%;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 90%;
    height: 90px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(29, 37, 56, 0.2);
}

.cat-man-four{
    background :url('assets/img/sac_femme.jpg');
    background-size: 200%;
    background-position: 45%;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 45%;
    height: 90px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(29, 37, 56, 0.2);
}

/* articles page */
#article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3%;
    margin-bottom: 15%;
}
.article-heading h5{
    text-align: center;
    margin-top: 3%;
    color: black;
    font-size: 34px;
}
#Produits{
    display: flex;
    flex-direction: column;
}
#article img{
    border-radius: 8px;
}
.card {
    position: relative;
    width: 380px;
    height: min-content;
    padding: 25px;
    background: #ffffff;
    border-radius: 20px;
    transition: .4s;
    margin-top: 2vh;
}

.card .card-header h3 {
    color: #404d61;
    font-size: 28px;
}

.card .card-header p {
    color: #757d8a;
    font-size: 20px;
}

.card .card-header span {
    position: absolute;
    color: #f43c3c;
    background: #fef0f0;
    right: 25px;
    top: 25px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 18px;
}

.card .card-img {
    position: relative;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    height: fit-content;
    transition: .4s;
}

.card:hover .card-img img {
    transform: scale(1.06);
}

.card .card-img i {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #757d8a;
    background: #ffffff;
    padding: 6px;
    border-radius: 6px;
}

.card .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-details .price p {
    color: #757d8a;
    font-size: 20px;
}

.card .card-details .price strong {
    color: #545d6d;
    font-size: 22px;
}

.card .card-details .colors {
    display: flex;
}

.card .card-details .colors div {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 4px;
}



.card .card-details .colors div i {
    color: #ffffff;
    margin: 5px;
    font-size: 25px;
    opacity: 0;
}

.card .card-details .colors div.selected i {
    opacity: 1;
}

.card .card-sizes {
    display: flex;
    justify-content: space-evenly;
    margin: 22px 0;
}

.card .card-sizes span {
    cursor: pointer;
    color: #757d8a;
    background: #f1f2f3;
    border-radius: 3px;
    padding: 6px 12px;
}

.card .card-sizes span.selected {
    color: #4e73f8;
    background: #d5defe;
}

.card .card-footer button {
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#2c2c2c, #000000);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;
}